---
layout: default
title: Music
---

<section class="content-section">
  <h1>music</h1>
  
  {% assign music_posts = site.posts | where: "categories", "music" %}
  
  {% if music_posts.size > 0 %}
    <ul class="post-list">
      {% for post in music_posts %}
        <li class="post-item">
          <div class="post-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </div>
          <div class="post-date">{{ post.date | date: "%b %d, %Y" | upcase }}</div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
  {% endif %}
</section>