<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
    </head>
<body>
    <header class="signature">
        <h1><a href="{{ '/' | relative_url }}">{{ site.signature | default: "JR" }}</a></h1>
        <nav class="navigation">
            <div class="nav-items">
                <a href="{{ '/' | relative_url }}">home</a>
                <a href="{{ '/writing' | relative_url}}">writing</a>
                <a href="{{ '/life' | relative_url}}">life</a>
                <a href="{{ '/music' | relative_url}}">music</a>
                <a href="{{ '/about' | relative_url }}">about</a>
            </div>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>
</body>
</html>