<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
    </head>
<body>
    <header class="signature">
        <a href="{{ '/' | relative_url }}" class="header-home-link">
            <img src="{{ '/assets/images/headshot1.jpeg' | relative_url }}" alt="Jarred Robidoux" class="header-photo">
            <h1 class="header-name">Jarred Robidoux</h1>
            <!-- ✏️ Edit your tagline on the line below -->
            <p class="header-tagline">Love God. Love People. Serve Both.</p>
        </a>
        {% unless page.url == '/' %}
        <nav class="navigation">
            <div class="nav-items">
                <a href="{{ '/writing' | relative_url}}">writing</a>
                <a href="{{ '/work' | relative_url}}">work</a>
                <a href="{{ '/life' | relative_url}}">life</a>
                <a href="{{ '/music' | relative_url}}">music</a>
            </div>
        </nav>
        {% endunless %}
    </header>

    <main>
        {{ content }}
    </main>
</body>
</html>